html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    color:wheat;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:'Roboto Mono';
    vertical-align:baseline;
}
 
/* remember to define focus styles! */
:focus{
    outline:0;
}

html {
    height: 100%;
}
 
body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
}
 
h1, h2, h3, h4, h5, h6{
    font-style:inherit;
    font-size:20px;
    font-family:inherit;
}

h1{
    font-size:70px;
    font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

#svgLeft {
    float: left;
    width: 14%;
    margin: 0;
}

#svgLeft .inner {
    padding-top: 1px;
    margin: 0 10px 10px 10px;
}

#svgRight {
    float: right;
    width: 14%;
    margin: 0;
}

#svgRight .inner {
    padding-top: 1px;
    margin: 0 10px 10px 10px;
}


#logo {
    width: 100%;
}

#logo .inner{
    margin-left: 14%;
    margin-right: 14%;
    padding: 1% 13%;
    
}

#content {
    margin-left: 14%;
    margin-right: 14%;

    height: auto;
}

.songsContent {
    height: 100%;
    min-height: 600px;

}

#content .inner{
	width: 100%;
	margin: 0 auto;
}

.socialIcon {
    width: 100%;
}

a.svg {
    position: relative;
    display: inline-block;
    width: 5%;
}

a.svg:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

#footer {
    height: 50px;
    width: 100%;
}

#footer .inner {
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 10px;
}
