html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    color:white;
    font-weight:inherit;
    font-style:inherit;
    font-size:100%;
    font-family:'Roboto Mono';
    vertical-align:baseline;
}
 
/* remember to define focus styles! */
:focus{
    outline:0;
}

html {
    height: 100%;
}
 
body {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
}
 
h1, h2, h3, h4, h5, h6{
    font-style:inherit;
    font-size:20px;
    font-family:inherit;
}

h1{
    font-size:70px;
    font-weight: bold;
}

tr{
    text-align: left; 
}

td{

}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

#svgLeft {
    float: left;
    width: 20%;
    margin: 0;
}

#svgLeft .inner {
    padding-top: 10%;
    padding-right: 80%;
}

#svgRight {
    float: right;
    width: 20%;
    margin: 0;
}

#svgRight .inner {
    padding-top: 10%;
}


#logo {
    width: 100%;
}

#logo .inner{
    margin-left: 20%;
    margin-right: 20%;
    padding: 1% 13%;
    
}

#content {
    margin-left: 20%;
    margin-right: 20%;

    height: auto;
}

#player {
    margin-top: 20px;
    margin-bottom: 20px;
}

#trackInformation {
    padding: 2px;
    margin: 4px;
    border: 2px solid #333;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 14px;
    table-layout: fixed;
    width: 90%;
}

#trackInformation td {
    overflow-wrap: break-word;
}

.outerRect {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    shape-rendering: crispEdges;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

circle {
    fill: black;
    stroke: white;
    stroke-width: 3px;
    cursor: pointer;
    cursor: hand;
}

.axis text {
    fill: white;
    font-size: 20px;
    font-family: inherit;
}

.svgIcon {
    margin: auto;
    position: relative;
    display: block;
    width: 50%;
}

.svgIcon:after {
    content: ""; 
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

.svgIcon .inner {
    width: 100%;
}

.hidden {
    visibility: hidden;
}


/* hover effects */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
